/prometheus-3.0.0-beta.1.windows-amd64/data/chunks_head/000001
/prometheus-3.0.0-beta.1.windows-amd64/data/wal/00000001
/prometheus-3.0.0-beta.1.windows-amd64/LICENSE
/prometheus-3.0.0-beta.1.windows-amd64/data/lock
/prometheus-3.0.0-beta.1.windows-amd64/NOTICE
/prometheus-3.0.0-beta.1.windows-amd64/prometheus.exe
/prometheus-3.0.0-beta.1.windows-amd64/promtool.exe
/prometheus-3.0.0-beta.1.windows-amd64/data/queries.active
