#icons-filter-page {
  position: absolute;
  width: 36px;
  top: 0px;
}

#stat {
  position: absolute;
  top: 86px;
  left: 306px;
  width: 333px;
  height: 353px;
  background: #1e2128ff; /* neutral-800 */
  border-radius: 12px; /* border-xl */
  border-width: 1px;
  border-color: #bdc1caff; /* neutral-400 */
  border-style: solid;
}

#rulesforinfo {
  position: absolute;
  top: 86px;
  left: 679px;
  width: 825px;
  height: 353px;
  background: #171a1fff; /* neutral-900 */
  border-radius: 12px;
  border-width: 1px;
  border-color: #f3f4f6ff; /* neutral-200 */
  border-style: solid;
}

#radios {
  color: #fff133ff;
  font-weight: 700;
  font-family: "Inter", serif;
  padding-left: 30px;
  display: flex;
  flex-direction: column; /* Располагает радиокнопки вертикально */
  gap: 30px; /* Расстояние между радиокнопками */
}

#confirm {
  position: absolute;
  background-color: #fff133ff;
  font-weight: 700;
  font-family: "Inter", serif;
  color: #171a1f;
  border-radius: 4px;
  width: 90px;
  height: 30px;
  right: 702px;
  top: 270px;
  padding-bottom: 2px;
  padding-left: 10px;
  text-decoration: none;
}

#list-values {
  margin: 0 auto;
  color: #060606;
  border-radius: 10px;
  margin: 0 auto;
  height: 220px;
  width: 1150px;
  overflow-y: auto;
}

table{
    text-align: center;
}
#welcome-string {
  background-color: #9f9f9f;
  font-weight: 700;
}

#Tima{
    width: 230px;
    margin: 0px 50px;
}

#month-worker{
color: white;
text-align: center;
}