body {
  background-color: black;
}

#up_interface {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1535px;
  height: 56px;
  background: #1e2128ff; /* neutral-800 */
  border-radius: 0px;
  box-shadow: 0px 0px 1px #171a1f, 0px 0px 2px #171a1f; /* shadow-xs */
}

#left_interface {
  position: absolute;
  top: 56px;
  left: 0px;
  width: 256px;
  height: 720px;
  background: #171a1fff;
  border-radius: 0px;
}

.sidebar-menu {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 224px;
  height: 192px;
  display: flex;
  flex-direction: column;
  font-family: "Inter", serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  opacity: 1;
}

.tabl {
  padding-left: 60px;
  font-family: "Inter", serif;
  font-size: 16px;
  color: #9095a1ff;
  opacity: 1;
  font-weight: 700;
  line-height: 3;
  text-decoration: none;
}

#table {
  position: absolute;
  top: 461px;
  left: 306px;
  width: 1202px;
  height: 302px;
  background: #171a1fff; /* neutral-900 */
  border-radius: 12px;
  border-width: 1px;
  border-color: #bdc1caff; /* neutral-400 */
  border-style: solid;
}

.now {
  color: #fff133ff;
  background-color: #1e2128ff;
}

#icons {
  position: absolute;
  width: 40px;
  top: 3px;
}
#swords {
  position: absolute;
  top: 2px;
  width: 60px;
}
#pagename {
  position: absolute;
  font-family: "Inter", serif;
  margin: 0;
  top: 10px;
  left: 80px;
  font-size: 28px;
  line-height: 42px;
  font-weight: 700;
  color: white;
}

#logout {
  position: absolute;
  background-color: #fff133ff;
  font-weight: 700;
  font-family: "Inter", serif;
  color: #171a1f;
  border-radius: 4px;
  width: 90px;
  height: 30px;
  right: 30px;
  top: 10px;
  padding-top: 10px;
  padding-left: 20px;
  text-decoration: none;
}

#serverinfo {
  position: absolute;
  top: 86px;
  left: 306px;
  width: 333px;
  height: 353px;
  background: #1e2128ff; /* neutral-800 */
  border-radius: 12px; /* border-xl */
  border-width: 1px;
  border-color: #bdc1caff; /* neutral-400 */
  border-style: solid;
}

#userinfo {
  position: absolute;
  top: 86px;
  left: 679px;
  width: 825px;
  height: 353px;
  background: #171a1fff; /* neutral-900 */
  border-radius: 12px;
  border-width: 1px;
  border-color: #f3f4f6ff; /* neutral-200 */
  border-style: solid;
}
#massage-sens {
  color: #fff133ff;
  font-weight: 700;
  font-family: "Inter", serif;
  padding-left: 30px;
}

table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
}

#welcome-string {
  background-color: #a6a6a6;
}

.chetni{

  background-color: #316dd4;
  width: 1500px;
}

.table-responsible {
  border-radius: 10px;
  margin: 0 auto;
  height: 220px;
  width: 1150px;
  overflow-y: auto;
}

.welcome-string {
  text-align: center;
  padding: 10px 0px;
}

.tabliza-info {
  background-color: #9f9f9f;
}
.stoka_2 {
  background-color: #ffffff;
  text-align: center;
}
.stoka_2:nth-child(odd) {
  background-color: #e5e5e5;
  text-align: center;
}
