#icon-source {
  position: absolute;
  width: 37px;
  top: 5px;
}
#processing-persent {
  position: absolute;
  top: 86px;
  left: 306px;
  width: 333px;
  height: 353px;
  background: #1e2128ff; /* neutral-800 */
  border-radius: 12px; /* border-xl */
  border-width: 1px;
  border-color: #bdc1caff; /* neutral-400 */
  border-style: solid;
}

#adding-source {
  position: absolute;
  top: 86px;
  left: 679px;
  width: 825px;
  height: 353px;
  background: #171a1fff; /* neutral-900 */
  border-radius: 12px;
  border-width: 1px;
  border-color: #f3f4f6ff; /* neutral-200 */
  border-style: solid;
}

#list-values {
  margin: 0 auto;
  color: #060606;
  border-radius: 10px;
  margin: 0 auto;
  height: 220px;
  width: 1150px;
  overflow-y: auto;
}

table{
    text-align: center;
}
#welcome-string {
  background-color: #9f9f9f;
  font-weight: 700;
}